// Modo Claro
$background_claro: #F5F5F5;
$color_primario_claro: #4169E1;
$color_secundario_claro: #FFFFFF;
$color_acento_claro: #4169E1;

// Modo Oscuro
$background_oscuro: #1E1E1E;
$color_primario_oscuro: #FFD700;
$color_secundario_oscuro: #9F7AEA;
$color_acento_oscuro: #FFD700;
